#initials {
    background-color: #eaeeed;
    color: #478d95;
    font-weight: bolder;
    border: solid 2px #818181;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
